<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css' />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="author" content="Nina Petrušić">
    <meta name="keywords" content="kolegiji, FER">
    <meta name="description" content="Skup podataka o kolegijima na FER-u">
    <link rel="stylesheet" href='/style/main.css'>
  </head>
  <body>
    <section class="section">
    <h1><a href="./"><i class="fa fa-arrow-left"></i></a> Datatable</h1>
    <hr>

    <% if (err !== undefined ) { %>
      <p class="alert alert-danger"><%= err %></p>
    <% } %>
    
    <form action="/datatable" method="post">
      <legend>Pretraživanje:</legend>

      <div>
        <label for="text">Polje za pretragu</label><br>
        <input type="text" name="tekst" id="tekst" placeholder="Unesite vrijednost">

      </div>
      <div>
        <select name="filter" id="filter">
          <option value="" disabled selected>Odaberite polje za pretragu </option>
          <option value="wildcard">Sva polja (wildcard)</option>
          <option value="kolegij_naziv">Naziv kolegija</option>
          <option value="prezime">Prezime nositelja</option>
          <option value="studij">Studij</option>
          <option value="semestar">Semestar</option>
          <option value="smjer">Smjer</option>
        </select>
      </div>
      <br>
      <input type="submit" value="Pretraži" class="button"/>
      <button type="button" class="button" name ="reset" value="obrisifilter" onclick="window.location='/datatable';">Obriši filter</button>
    </form>
      <% if (download) { %>
        <br><div>Preuzimanje filtriranog skupa podataka u JSON ili CSV formatu:<br>
          <p>
            CSV:&ensp; <a href="/download/Kolegiji_na_FER-u_filt.csv" download><button class="button index"><i class="fa fa-download"></i> Download</button></a><br>
          </p>
          <p> 
            JSON: <a href="/download/Kolegiji_na_FER-u_filt.json" download><button class=" button index"><i class="fa fa-download"></i> Download</button></a>
          </p>
        </div>
      <% } %>

    <div>
      <button id="dodaj" type="button" class="button" name ="dodaj" value="dodaj" onclick="window.location='/datatable/add';">Dodaj</button><br>
    </div>
    
    </section>
    <br>
    <section>
      <table>
        <tr id="th">
          <th>ID kolegija</th>
          <th>Naziv kolegija</th>
          <th>Semestar</th>
          <th>ECTS</th>
          <th>Predavanja</th>
          <th>Laboratorijske</th>
          <th>Auditorne</th>
          <th>Studij</th>
          <th>Smjer</th>
          <th>Godina</th>
          <th>Profili</th>
          <th>Nositelji</th> 
        </tr>
        <% for (var i = 0; i < rows.length; i++) { %>
          <% if(rows !== undefined) { %>
          <tr onclick="window.location='/datatable/<%= rows[i].idkolegij %>';">
            <td><%= rows[i].idkolegij %></td>
            <td><%= rows[i].kolegij_naziv %></td>
            <td><%= rows[i].semestar %></td>
            <td><%= rows[i].ects %></td>
            <td><%= rows[i].predavanja %></td>
            <td><%= rows[i].laboratorijske %></td>
            <td><% if(!rows[i].auditorne) { %> 0 <% }else { %> <%=rows[i].auditorne%> <% } %></td>
            <td><%= rows[i].studij %></td>
            <td><% if(!rows[i].smjer) { %> / <% }else { %> <%=rows[i].smjer%> <% } %></td>
            <td><%= rows[i].godina %></td>
            <td><% var j = i; %>
              <% if(!rows[i].idprofil) { %> /
              <% }else { %> 
                <%=rows[i].idprofil%>: <%=rows[i].profil_naziv%>
                <% let profili = []; profili.push(rows[i].idprofil);%>
              <% while(true) { %>
                    <% if(i+1 < rows.length && (rows[i+1].idkolegij == rows[j].idkolegij ) && (!profili.includes(rows[i+1].idprofil))) { %>
                      <% i++; profili.push(rows[i].idprofil); %>
                      <br><%=rows[i].idprofil%>: <%=rows[i].profil_naziv%>
                    <% } else { 
                      if (profili.includes(rows[i+1].idprofil) && i+1 < rows.length && rows[i+1].idkolegij == rows[j].idkolegij) { i++; } 
                      else { i=j; break;} %>
                      <% } %>
                <% } %>
              <% } %></td>
            <td>
              <% let prezimena = []; j = i; %>
                <% while (true) { %>
                  <% if (i >= rows.length || rows[i].idkolegij != rows[j].idkolegij) { i--;break; }%>
                  <% if (!prezimena.includes(rows[i].prezime)) { %> <% prezimena.push(rows[i].prezime); %> 
                    <%= rows[i].idnositelj %>: <%= rows[i].ime %> <%=rows[i].prezime%>, <%= rows[i].titula %> <% i++; %><br>
                  <% } else { i++; } %>
                  <% } %>
            </td> 
          </tr>
          <% } %>
        <% } %>
      </table>
    </section>
  </body>
  
</html>